<section class="items">

  {% for block in section.blocks %}

    <div class="item">  	
       <img src="{{ section.settings.item-image | img_url: '340x510' }}">
       <span class="item-name">
           {{ section.settings.item-title | escape }}
       </span>  		
    </div>

  {% endfor %}

</section>


{% schema %}
{
	"name": "items-gallery",
	"blocks": [
    		{
    			"type": "image",
    			"name": "items-entry",
    			"settings": [
                  {
                    "type": "image_picker",
                    "id": "item-image",
                    "label": "Image of the product"
                  },
                  {
                    "type": "text",
                    "id": "item-title",
                    "label": "Title",
                    "default": "Title of this product"
                  }
    			]
    		}
	]
}
{% endschema %}