<section class="items">

  {% for block in section.blocks %}

    <div class="item">    
      
       <img srcset="{{ section.settings.image | image_url: width: 375 }}"
          src="{{ section.settings.image | image_url: width: 1500 }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        
            >        		
    </div>

  {% endfor %}

</section>


{% schema %}
{
	"name": "items-gallery",
	"tag": "section",
  	"class": "section",
	"blocks": [
    		{
    			"type": "image",
    			"name": "Agregar imagen ",
    			"settings": [
                  {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image of the product"
                  }
                  
    			]
    		}
	],
	"presets": [
    {
      "name": "gallery images",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}