.announcement-bar__message {
     font-weight: 700;
  color:#000
}

.header--top-center>.header__search {
    display: none;
}
.banner--content-align-center .banner__heading {
color: #2E2E2E;
font-family: Fira Sans;
  font-weight:800;
}

.multicolumn-card__info {
	position:absolute;
  	bottom:20px;
}

@media screen and (min-width: 990px) {
.header:not(.header--top-center)>.header__search, .header--top-center *>.header__search {
    display: block;
}
}