.product-form__quantity .quantity .input,
.product-form__quantity .quantity .quantity__button{
 border: solid 1px #707070;
}


.product-form__quantity .form__label {
 font-weight:bold;
  text-transform:uppercase;
  
}

.product-form__quantity .quantity:before,
.product-form__quantity .quantity:after{
	display:none
}
.announcement-bar__message {
     font-weight: 700;
  color:#000
}

.header--top-center>.header__search {
    display: none;
}
.banner--content-align-center .banner__heading {
    color: #2E2E2E;
    font-family: Fira Sans;
    font-weight:800;
}

.multicolumn-card__info {
	position:absolute;
  	bottom:20px;
  	width:100%;
  	
}
.multicolumn-card__info h3 {
font: normal normal bold 28px/41px Fira Sans;
  color:#fff;
}

.media--square {
    padding-bottom: 60%;
}

.instagram-icon {
 text-align:center;
}

h1.main-page-title.page-title {
text-align:center;
font-weight: 800;
margin-bottom:0px}
.contact-f {
    border: 1px solid #707070;
    border-radius: 9px;
    padding: 30px 30px;}

.contact-f .contact__button  {text-align:center}
.contact-f .contact__button .button{
    background: #2E2E2E 0% 0% no-repeat padding-box;
    border-radius: 50px;
    min-height: 40px;
  letter-spacing: 4.4px;
  text-transform:uppercase;
}

.contact-f .field textarea,
.contact-f .field input {background:#F8F4EF}

.contact__fields .field,.field {font: italic normal normal 19px/19px Calibri;color: #707070;}

#shopify-section-template--15557974687897__165386038431e5bb00 h2.banner__heading {
  font-size: 6rem;
color:#fff;
  
}
#shopify-section-template--15557974687897__165386038431e5bb00 .banner__buttons a{
min-height:40px;
  border-radius:20px;
  font: normal normal bold 22px/26px Karla;}

  
  
  .footer-block__newsletter {
    text-align: left;
}
.contact-f .contact__button .button:after,
.contact-f .contact__button .button:before,
#shopify-section-template--15557974687897__165386038431e5bb00 .banner__buttons a:after,
#shopify-section-template--15557974687897__165386038431e5bb00 .banner__buttons a:before{display:none!important }


.section-template--15557974753433__16539230079d230ab0-padding .rich-text__text,
.section-template--15557974753433__16539230079d230ab0-padding .rich-text__text p{
	margin-bottom: 0px;
    margin-top: 0px;
  line-height: initial;
  
}  

.section-template--15557974753433__16539230079d230ab0-padding .rich-text__blocks h2 {
	font: normal normal bold 24px/42px Karla;
}
  
@media screen and (min-width: 990px) {
.header:not(.header--top-center)>.header__search, .header--top-center *>.header__search {
    display: block;
}
}
  
  
  
@media screen and (min-width: 750px) {
 .footer__content-top .grid .grid__item:nth-child(0n+1),
  .footer__content-top .grid .grid__item:nth-child(0n+2){
      width: calc(15% - var(--grid-desktop-horizontal-spacing) * 3 / 4);

  }
}



.gallery > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.gallery > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
		
}

/* Grid */
.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 125px;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
      margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.w-6 {
	grid-column: span 6 ;
  
}
.w-5 {
	grid-column: span 5 ;
  
}
.w-4 {
	grid-column: span 4 ;
  
}
.w-3 {
	grid-column: span 3 ;
  
}
.w-2 {
	grid-column: span 2 ;
  
}
.w-1 {
	grid-column: span 1 ;
  
}

.h-4 {
grid-row: span 4;

}

.h-3 {
grid-row: span 3;

}

.h-2 {
grid-row: span 2;

}

.medium {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Media Queries */

@media screen and (min-width: 1024px){
	.wrapper{
		width: 960px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1024px){
.gallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
      margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}}

@media screen and (max-width: 604px){
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: 40px;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
      margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}}